---
layout: page
---
{% assign store = site.data.store | where: "name", page.title | first %}

<div class="pluginCard">
  {{ page.title }}
  {{ page.package_name }}
  {{ page.project_url }}
  {{ page.category }}
  {{ store.downloads }}
</div>

<div class="customPluginPage">
  {{ page.content }}
</div>