---
layout: page
---
{% assign store = site.data[page.title] %}

<div class="pluginCard">
  {{ page.title }}
  {{ page.package_name }}
  {{ page.project_url }}
  {{ page.category }}
  {{ store.description }}
</div>

<div class="customPluginPage">
  {{ page.content }}
</div>