---
layout: page
---
{% assign store = site.data[page.title] %}
{% assign name = page.title | default: store.name %}
{% assign author = page.author | default: store.author %}
{% assign description = page.description | default: store.description %}
{% assign tags = page.tags | default: store.tags %}
{% assign versions = page.versions | default: store.versions %}
{% assign image_url = page.image_url | default: store.image_url %}
{% assign image_url = image_url | default: "assets/images/placeholder_screenshot.png" %}
{% assign created = page.created | default: store.created %}
{% assign updated = page.updated | default: store.updated %}

<div class="pluginCard">
  {{ name }}
  {{ image_url }}
  {{ page.project_url }}
  {{ page.category }}
  {{ page.available_in_store }}
  {{ description }}
  {{ created }}
  {{ updated }}
</div>

<div class="customPluginPage">
  {{ page.content }}
</div>