<style>
a.nostyle:link, a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}
.card.plugin {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
}
/* On mouse-over, add a deeper shadow */
.card.plugin:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
</style>

{% assign store = site.data[plugin.title] %}
{% assign name = plugin.title | default: store.name %}
{% assign author = plugin.author | default: store.author %}
{% assign description = plugin.description | default: store.description %}
{% assign tags = plugin.tags | default: store.tags %}
{% assign versions = plugin.versions | default: store.versions %}
{% assign image_url = plugin.image_url | default: store.image_url %}
{% assign image_url = image_url | default: "assets/images/placeholder_screenshot.png" %}
{% assign created = plugin.created | default: store.created %}
{% assign updated = plugin.updated | default: store.updated %}

<div id="card-{{ name }}" class="card plugin my-2" data-bs-theme="dark">
  <a class="nostyle" href="{% if plugin.redirect %}{{ plugin.project_url }}{% else %}{{ plugin.url | relative_url }}{% endif %}">
    <div class="row">
      <div class="col-3">
        <img class="img-fluid rounded-start object-fit-contain" src="{{ image_url }}" alt="{{ name }}">
      </div>
      <div class="col align-content-center">
        <h5 class="card-title">{{ name }}</h5>
        <p class="card-text">
          <span class="badge text-bg-secondary">Author: {{ author }}</span>
          {% if tags contains "root"  %}
            <span class="badge text-bg-danger">Requires root</span>
          {% endif %}
        </p>
        <p class="card-text">Tags: 
          {% for tag in tags %}
            <span class="badge text-bg-primary">{{ tag }}</span>
          {% endfor %}
        </p>
        <p class="card-text">{{ description }}</p>
      </div>
    </div>
  </a>
</div>